

* {
  margin:  0;
  padding: 0;
  
  box-sizing: border-box;
  
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}


body 
{
  width:  100vw;
  height: 100vh;
}


header 
{
}


#txt_section 
{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}


article 
{
  scroll-snap-align: start;
  scroll-snap-stop: always;

  width:  100%;
  height: 100vh;

  display: grid;
  place-items: center center;
}
#target-container_1 { background-color: blue; }
#target-container_2 { background-color: blueviolet; }
#target-container_3 { background-color: brown; }


footer 
{
}


nav 
{
}


#vis_section 
{
  display: grid;
  place-items: center center;
}

