
:root 
{
  --colorLayer1: rgb(0, 0, 0);
  --colorLayer2: rgb(70, 70, 70);
  --colorLayer3: rgb(210, 210, 210);
  --colorLayer4: rgb(250, 250, 250);
}


@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


* {
  margin: 0;
  padding: 0;

  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}


body 
{
  background-color: var(--colorLayer1);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px; /*ver outra unidade*/
  color: var(--colorLayer3);
}


a {
  color: var(--colorLayer3);
  text-decoration: none;
}

a:hover { text-decoration: underline; }


.alignCenterMiddle 
{
  display: grid;
  place-items: center center;
}


/*
Device: Laptops, Desktops
Screen: 1025px to higher
*/
@media (min-width: 1025px) 
{
  #p5_loading 
  {
    position: fixed;
    top: 50vh;
    width: 100vw;
    text-align: center;
  }

  header   { height: 3vh;   }
  section  { height: 94vh;  }
  footer   { height: 3vh;   }

  #container 
  {
    width: 35vw;
    height: 70vh;
    position: relative;
  }

  input[type=range]
  {
    width: 70vh;

    position: absolute;
    top: 34vh;
    right: -35vh;

    visibility: hidden;
    /*
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    */
  }
}


/*
Device: Phones, Tablets (landscape)
Screen: 481px to 1024px
*/
@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  #p5_loading 
  {
    position: fixed;
    top: 42vh;
    width: 100vw;
    text-align: center;
  }

  header   { height: 5vh;   }
  section  { height: 74vh;  }
  footer   { height: 5vh;   }

  #container 
  {
    width: 60vw;
    height: 60vh;
    position: relative;
  }

  input[type=range]
  {
    width: 60vh;

    position: absolute;
    top: 29vh;
    right: -30vh;

    visibility: hidden;
    /*
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    */
  }
}


/*
Device: Phones, Tablets (portrait)
Screen: 320px to 1024px
*/
@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait)
{
  #p5_loading 
  {
    position: fixed;
    top: 46vh;
    width: 100vw;
    text-align: center;
  }

  header   { height: 3vh;   }
  section  { height: 86vh;  }
  footer   { height: 3vh;   }

  #container 
  {
    width: 60vw;
    height: 60vh;
    position: relative;
  }

  input[type=range]
  {
    width: 60vh;

    position: absolute;
    top: 29vh;
    right: -30vh;

    visibility: hidden;
    /*
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    */
  }
}





/*

input[type=range]:focus
{
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track 
{
  background: var(--colorLayer2);
}

input[type=range]::-webkit-slider-runnable-track 
{
  height: 1px;
  background: var(--colorLayer2);
}

input[type=range]::-moz-range-track 
{
  height: 1px;
  background: var(--colorLayer2);
}

input[type=range]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  border-style: none;
  background: var(--colorLayer3);

  margin-top: -10px;
  height: 20px;
  width: 3px;

  cursor: pointer;
}

input[type=range]::-moz-range-thumb 
{
  border-style: none;
  background: var(--colorLayer3);
  
  height: 20px;
  width: 3px;

  cursor: pointer;
}
*/