
:root 
{
  --colorLayer1: rgb(250, 250, 250);
  --colorLayer2: rgb(210, 210, 210);
  --colorLayer3: rgb(150, 150, 150);
  --colorLayer4: rgb(50, 50, 50);
}



@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');



* {
  margin: 0;
  padding: 0;
}



body 
{
  background-color: var(--colorLayer1);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  color: var(--colorLayer3);
}



a 
{
  color: var(--colorLayer3);
  text-decoration: none;
}

a:hover { text-decoration: underline; }



.alignCenterMiddle 
{
  display: flex;
  justify-content: center;
  align-items: center;
}



header 
{
  height: 3vh;
}

section 
{
  height: 94vh;
  position: relative;
}

#p5CanvasContainer 
{
  width: 30vw;
  height: 70vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#p5_loading 
{
  position: fixed;
  top: 50vh;
  width: 100vw;
  text-align: center;
}

#inputContainer 
{
  width: 30vw;
  height: 70vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  background-color: rgba(255, 0, 0, 0.5);
}

footer 
{
  width: 100vw;
  height: 3vh;
}





input[type=range]
{
  background: transparent;
  -webkit-appearance: none;
  outline: none;

  width: 70vh;
  height: 0px;

  position: relative;
  top: 34vh;
  margin-left: 9vw;
}

input[type=range]:focus
{
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track 
{
  background: var(--colorLayer3);
}

input[type=range]::-webkit-slider-runnable-track 
{
  height: 1px;
  background: var(--colorLayer3);
}

input[type=range]::-moz-range-track 
{
  height: 1px;
  background: var(--colorLayer3);
}

input[type=range]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  border-style: none;
  background: var(--colorLayer3);

  margin-top: -10px;
  height: 20px;
  width: 3px;

  cursor: pointer;
}

input[type=range]::-moz-range-thumb 
{
  border-style: none;
  background: var(--colorLayer3);
  
  height: 20px;
  width: 3px;

  cursor: pointer;
}