

@charset "UTF-8";


@font-face 
{
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root 
{
  /*
  --color_plus_2: rgb(0, 0, 0);
  --color_plus_1: rgb(30, 30, 30);
  --color_zero:   rgb(70, 70, 70);
  --color_minus_1:rgb(110, 110, 110);
  --color_minus_2:rgb(250, 250, 250);
  */

  --color_minus_2: rgb(0, 0, 0);
  --color_minus_1: rgb(30, 30, 30);
  --color_zero:    rgb(70, 70, 70);
  --color_plus_1:  rgb(110, 110, 110);
  --color_plus_2:  rgb(250, 250, 250);

  --color_trained:  rgb(0, 255, 0);
  --color_untrained:  rgb(255, 0, 0);
}





* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}


body 
{
  background-color: var(--color_minus_2);

  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: var(--color_plus_1);

  display: grid;
  grid-template-rows: 10% 68% 22%;
}


#p5_loading 
{
  width: 100vw;
  text-align: center;
}


header, main, footer 
{
  display: grid;
  place-items: center center;
}


h1 
{
  color: var(--color_plus_2);
  font-size: 0.8em;
  text-transform: uppercase;
}


main 
{
  display: grid;
  grid-template-rows: 10% 10% 80%;
  place-items: center center;
}



.weights_container 
{
  width:  20%;
  height: 100%;

  position: relative;
}

#xpos_weight_container 
{
  display: grid;
  place-items: end center;
}

#bias_weight_container
{
  display: grid;
  place-items: start center;
}



#p5_container 
{
  width:  44%;
  height: 100%;

  display: grid;
  place-items: center center;
}


nav 
{
  width:  25%;
  height: 60%;
}


#tooltip_or_button_container 
{
  float: left;

  width: 100%;
  height: 50px;

  margin: 0px 0px 20px 0px;
}


#tooltip_or_button_element
{
  width: 100%;
  height: 100%;

  font-family: "IBM Plex Mono", monospace;
  font-size: 0.78em;
  color: var(--color_plus_2);
  text-transform: uppercase;
  text-align: center;

  display: grid;
  place-items: center center;

  padding: 3px;

  background-color: var(--color_minus_2);
}


#tooltip_or_button_container p 
{
  border: 1px solid var(--color_plus_1);
  padding: 0px;
}

#tooltip_or_button_container button 
{
  border: 1px solid var(--color_plus_2);
  cursor: pointer;
}


button:focus
{
  outline: none;
}


#reloadSystemButton
{
  width: 10%;
  height: 30px;
  float: left;

  display: grid;
  place-items: center start;

  background-color: var(--color_minus_2);
  border: none;
  cursor: pointer;
}


svg
{
  width:  20px;
  height: 20px;
  fill: none;
}


svg path 
{
  stroke: var(--color_plus_2);
  stroke-width: 0.8px;
  stroke-linecap: butt;
}





@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) 
{
  .weights_container { width:  40%; }

  #p5_container { width: 65%; }

  footer nav { width: 40%; }
}


@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  .weights_container { width:  50%; }

  #p5_container { width: 80%; }

  footer nav { width: 60%; }
}
