


@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

@font-face 
{
  font-family: "Grafier";
  src: url("fonts/PPGrafier/PPGrafier-RegularDisplay.otf") format("otf");
}



:root 
{
  /* https://gist.github.com/lithammer/e9e68c131297c3158a654c0fdfc4111a */
  /*
  --color-light-gray-6: rgb(242, 242, 247); - color_level_4
  --color-light-gray-5: rgb(229, 229, 234);
  --color-light-gray-4: rgb(209, 209, 214);
  --color-light-gray-3: rgb(199, 199, 204);
  --color-light-gray-2: rgb(174, 174, 178); - color_level_3
  --color-dark-gray-1: rgb(142, 142, 147);
  --color-dark-gray-2: rgb(99, 99, 102); - color_level_2
  --color-dark-gray-3: rgb(72, 72, 74);
  --color-dark-gray-4: rgb(58, 58, 60); - images
  --color-dark-gray-5: rgb(44, 44, 46);
  --color-dark-gray-6: rgb(28, 28, 30); - color_level_1 and images
  */
   
  --color_level_1: 28, 28, 30;
  --color_level_2: 142, 142, 147;
  --color_level_3: 174, 174, 178;
  --color_level_4: 242, 242, 247;

  --color_empha_n: 255, 69, 58;
  --color_empha_p: 48, 209, 88;
  --color_empha_t: 255, 214, 10;
}


* {
  margin: 0px;
  padding: 0px;
  
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  
  user-select: none;*/
}


body 
{
  background-color: rgb(var(--color_level_1));
  color: rgb(var(--color_level_3));
}


p 
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 0.8em;
  line-height: 1.6em;
  z-index: 2;
}
p>strong { font-weight: 400; letter-spacing: 0.04em; }
p>span   { font-variation-settings: "slnt" -10; }
p~p      { text-indent: 20px; }
sup      { line-height: 0.5em; font-size: 0.6em; }
a        { color: rgb(var(--color_level_2)); text-decoration:none; }


h1 
{
  font-family: "Grafier", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.7em;
  line-height: 1em;
}


h2 
{
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 2.2em;
  line-height: 0.9em;
  z-index: 2;
}


h3, label, button 
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 0.5em;

  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: rgb(var(--color_level_4));
}


#sticky_header 
{
  position:fixed;
  left: 25%;
  top: 0px;

  z-index: 2;
  
  width: 75%;
  height: 2em;

  text-align:center;

  display: grid;
  place-items: center center;

  visibility: hidden;
}

#sticky_header>h1 
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 0.6em;

  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: rgb(var(--color_level_4));
}


main 
{
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#main_spacer 
{
  width: 25%;
  height: 100%;
}


#decision_vis_container 
{
  width: 75%;
  height: 100%;

  display: grid;
  place-items: center center;
}


#vis_label_colors 
{
  position: fixed;
  right: 3%;
  top: 4.5%;
  z-index: 1;

  visibility: hidden;
}
#vis_label_colors caption { text-align: center; }

#vis_label_colors th 
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 0.7em;
  text-align: right;
}

#vis_label_colors td 
{
  padding-left: 5px;
}
#vis_label_colors #ptron_guess_n { color: rgb(var(--color_empha_n)); }
#vis_label_colors #ptron_guess_p { color: rgb(var(--color_empha_p)); }
#vis_label_colors #ptron_guess_t { color: rgb(var(--color_empha_t)); }