

html, body 
{
  margin: 0;
  padding: 0;
}


#p5_loading 
{
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}


canvas 
{
  margin: 0;
  padding: 0;
  float: left;
}
