

@charset "UTF-8";


@font-face 
{
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root 
{
  --colorBackground:       rgb(0, 0, 0);
  --colorBackgroundMiddle: rgb(30, 30, 30);
  --colorMiddle:           rgb(70, 70, 70);
  --colorForegroundMiddle: rgb(110, 110, 110);
  --colorForeground:       rgb(250, 250, 250);
}





* {
  margin:  0;
  padding: 0;
  /*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--colorBackground);

  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: var(--colorForegroundMiddle);

  display: grid;
  grid-template-rows: 10% 70% 20%;
}


#p5_loading 
{
  width: 100vw;
  text-align: center;
}


header, main, footer 
{
  display: grid;
  place-items: center center;
}


h1 
{
  color: var(--colorForeground);
  font-size: 0.8em;
  text-transform: uppercase;
}


#legend_container
{
  background-color: var(--colorBackground);

  height: 60px;

  position: fixed;
  top: 10px;
  right: 100px;
}


#legend_container img 
{
  background-color: var(--colorBackground);
  height: 37%;
  margin-top: 6%;

  position: absolute;
}


#content_container 
{
  width:  25%;
  height: 100%;

  display: grid;
  grid-template-rows: 10% 10% 80%;
  place-items: center center;
}

#content_container p { color: var(--colorForeground); }

#xpos_weight_container 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: end center;
}

#bias_weight_container
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: start center;
}

#p5_container 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}


nav 
{
  width:  25%;
  height: 60%;
}


#p5_interchangeableTooltip2ButtonContainer 
{
  float: left;

  width: 100%;
  height: 50px;

  margin: 0px 0px 20px 0px;
}


#p5_interchangeableTooltip2Button
{
  width: 100%;
  height: 100%;

  font-family: "IBM Plex Mono", monospace;
  font-size: 0.78em;
  color: var(--colorForeground);
  text-transform: uppercase;
  text-align: center;

  display: grid;
  place-items: center center;

  padding: 3px;

  background-color: var(--colorBackground);
}


#p5_interchangeableTooltip2ButtonContainer p 
{
  border: 1px solid var(--colorForegroundMiddle);
  padding: 0px;
}

#p5_interchangeableTooltip2ButtonContainer button 
{
  border: 1px solid var(--colorForeground);
  cursor: pointer;
}


button:focus
{
  outline: none;
}


#reloadSystemButton
{
  width: 10%;
  height: 30px;
  float: left;

  display: grid;
  place-items: center start;

  background-color: var(--colorBackground);
  border: none;
  cursor: pointer;
}


svg
{
  width:  20px;
  height: 20px;
  fill: none;
}


svg path 
{
  stroke: var(--colorForeground);
  stroke-width: 0.8px;
  stroke-linecap: butt;
}





@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) 
{
  header div { width: 65%; }

  #content_container { width: 65%; }

  footer nav { width: 65%; }
}


@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  header div { width: 80%; }

  #content_container { width: 80%; }

  footer nav { width: 80%; }
}
