@charset "UTF-8";


@font-face 
{
  font-family: "IBMPlexMono-Light";
  src: url("IBM_Plex_Mono/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face 
{
  font-family: "IBMPlexMono-Regular";
  src: url("IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face 
{
  font-family: "BodoniModa-MediumItalic";
  src: url("Bodoni_Moda/static/BodoniModa/BodoniModa-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

:root 
{
  --color_background:        rgb(20, 20, 20);
  --color_background_middle: rgb(50, 50, 50);
  --color_middle:            rgb(70, 70, 70);
  --color_foreground_middle: rgb(160, 160, 160);
  --color_foreground:        rgb(255, 255, 255);
}



* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}



body 
{
  background-color: var(--color_background);

  font-family: "IBMPlexMono-Light", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  
  line-height: 1.5;
  word-wrap: break-word;

  color: var(--color_foreground_middle);
}

header, section 
{
  font-size: 1em;
}

h1 
{
  font-family: "BodoniModa-MediumItalic", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.05em;
  letter-spacing: 0.05em;
}

h2 
{
  font-family: "IBMPlexMono-Regular", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.05em;
  letter-spacing: 0.025em;

  color: var(--color_foreground);
}

a
{
  text-decoration: none;
  display: block;
  color: var(--color_foreground);
}

section nav a { font-size: 1em; }

p a { display: inline; }


/* default, Mobile first, Small devices (phones, 600px and up) */
@media only screen and (max-width: 600px)
{
  body 
  { margin: 9% 0% 9% 1%; }

  header  { width: 100%; }

  section { width: 100%; }
}


/* Medium devices (tablets and non-retina computers, 768px and up) */
@media only screen and (min-width: 768px)
{
  body { margin: 6% 3% 4% 7%; }

  header  { width: 29%; }

  section { width: 29%; }
}


/* Large devices (retina computers, 1200px and up) */
@media only screen and (min-width: 1200px)
{
  body { margin: 6% 3% 4% 7%; }

  header { width: 29%; }

  section { width: 29%; }
}


div 
{
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe 
{
  background-color: rgb(255, 255, 255);
  border: none;
}

