

@charset "UTF-8";



/* All Scenes */

article section 
{
    position: relative;
}

button 
{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top:  0px;

    background-color: rgba(var(--color_level_1), 0.8);
    color: rgb(var(--color_level_4));

    font-size: 0.8em;
    line-height: 2em;

    cursor: pointer;

    visibility: hidden;
}

button span 
{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 0em;
}





/* Scene 1 */

#scene_1>#txt_scene_1 
{
    position: absolute;
    left: 0px;
    top:  0px;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scene_1>#txt_scene_1>h1 
{
    width: 30%;
}

#scene_1>#txt_scene_1>p 
{
    width: 30%;
}





/* Scene 2 */

#scene_2>#txt_scene_2 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_2>#data_element_switch_0,  
#scene_2>#data_element_switch_1,  
#scene_2>#data_element_switch_2 
{
    position: absolute;
    /* left: ?; defined in JS */
    /* top:  ?; defined in JS */

    padding-right: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#data_element_radio_left_0, 
#data_element_radio_left_1, 
#data_element_radio_left_2 
{
    margin-left: 5px;
    margin-right: 10px;
}

#data_element_radio_right_0, 
#data_element_radio_right_1, 
#data_element_radio_right_2 
{
    margin-right: 5px;
}

#scene_2 label:hover, 
#scene_2 input:hover 
{
    cursor: pointer;
}

#scene_2>#call_for_action_scene_2 
{
    position: absolute;
    left: 0px;
    top: 30px;

    padding-left: 25%;
    width: 100%;

    text-align: center;

    color: rgba(var(--color_empha_n));

    visibility: hidden;
}

#scene_2>#call_for_action_scene_2>p { font-weight: 400; }





/* Scene 3 */

#scene_3>#txt_scene_3 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 4 */

#scene_4>#txt_scene_4 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 5 */

#scene_5>#txt_scene_5 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 6 */

#scene_6>#txt_scene_6 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 7 */

#scene_7>#txt_scene_7 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_7 #history_vis_container 
{
  position: absolute;
  left: 30%;
  top: 25%;

  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#scene_7 #history_vis_container>figcaption 
{
    display: grid;
    place-items: center center;

    margin-right: 10px;
    margin-bottom: 5px;
}

#scene_7 #history_vis_container ol 
{
    width: 100%;
    height: 100%;

    margin-right: 10px;

    overflow-y: auto;
}

#scene_7 #history_vis_container li 
{
    width: 100%;

    display: grid;
    place-items: center center;
}





/* Scene 8 */

#scene_8>#txt_scene_8 
{
    position: absolute;
    left: 0px;
    top:  0px;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scene_8>#txt_scene_8>h2 
{
    width: 30%;
}

#scene_8>#txt_scene_8>p 
{
    width: 30%;
}