

@charset "UTF-8";


section>h2 
{
    text-align: right;
}


#scene_1>div 
{
    position: absolute;
    /* top:  ?; defined in JS */
    /* left: ?; defined in JS */

    padding-right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#scene_1 #data_element_radio_right_0, 
#scene_1 #data_element_radio_right_1, 
#scene_1 #data_element_radio_right_2 
{
    margin-left: 10px;
}

#scene_1 label:hover, 
#scene_1 input:hover 
{
    cursor: pointer;
}