

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


html, body 
{
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  color: rgb(150, 150, 150);
}


#p5_loading 
{
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}


canvas {
  margin: 0;
  padding: 0;
  display: block; 
}


input[type=range] 
{
  -webkit-appearance: none;
  background: transparent;
  transform: rotate(270deg);

  padding: 0;
  margin: 0;
}


input[type=range]:focus
{
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track 
{
  background: rgb(150, 150, 150);
}


input[type=range]::-webkit-slider-runnable-track 
{
  height: 1px;
  background: rgb(150, 150, 150);
}

input[type=range]::-moz-range-track 
{
  height: 1px;
  background: rgb(150, 150, 150);
}


input[type=range]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  border-style: none;
  background: rgb(150, 150, 150);

  margin-top: -10px;
  height: 20px;
  width: 3px;
}

input[type=range]::-moz-range-thumb 
{
  border-style: none;
  background: rgb(150, 150, 150);
  height: 20px;
  width: 3px;
}
