

@charset "UTF-8";

@font-face 
{
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
       url("fonts/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face 
{
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Italic.woff2?v=3.15") format("woff2"),
       url("fonts/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face 
{
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBold.woff2?v=3.15") format("woff2"),
       url("fonts/Inter-SemiBold.woff?v=3.15") format("woff");
}

@font-face 
{
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter-ExtraBold.woff2?v=3.15") format("woff2"),
       url("fonts/Inter-ExtraBold.woff?v=3.15") format("woff");
}





:root 
{
  --colorBackground:       rgb(0, 0, 0);
  --colorBackgroundMiddle: rgb(30, 30, 30);
  --colorMiddle:           rgb(70, 70, 70);
  --colorForegroundMiddle: rgb(110, 110, 110);
  --colorForeground:       rgb(250, 250, 250);
}





* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}





body 
{
  background-color: var(--colorForeground);

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  word-wrap: break-word;

  color: var(--colorBackground);
}

main, 
article 
{
  width: 100%;
  display: grid;
  place-items: start center;
}

header 
{
  width: 100%;
  padding: 30px 31% 5px 31%;

  background-color: var(--colorBackground);
  color: var(--colorForeground);
}

section 
{
  width: 100%;
  padding: 10px 31% 10px 31%;

  border-bottom: 1px solid var(--colorForegroundMiddle);
}

footer 
{
  height: 50px;
  background-color: var(--colorBackground);
}





h1 
{
  font-weight: 800;
  font-size: 2.4em;
}

h2 
{
  font-weight: 400;
  font-size: 1.25em;
}

h3 
{
  font-weight: 800;
  font-size: 1em;
  margin: 10px 0px 5px 0px;
}

h4 
{
  font-weight: 400;
  font-size: 0.6em;
  margin: 0px 0px 2px 0px;

  text-transform: uppercase;
  color: var(--colorForegroundMiddle);
}

p { margin: 0px 0px 5px 0px; }

b { font-weight: 600; }

a 
{
  color: var(--colorBackground);
  text-decoration: none;
}

a:hover { text-decoration: underline; }





#read_more_button 
{
  width:  22px;
  height: 22px;

  position: fixed;
  right:  5%;
  bottom: 3.4%;

  display: grid;
  place-items: center center;

  background-color: var(--colorBackground);
  border: none;
  cursor: pointer;
}

#read_more_button svg 
{
  width:  22px;
  height: 22px;
  
  display: grid;
  place-items: center center;
}

#read_more_button svg path 
{
  fill: var(--colorForeground);
  stroke: var(--colorForeground);
  stroke-width: 0.3px;
}

#read_more_button svg line 
{
  stroke: var(--colorForeground);
  stroke-width: 1px;
}

#read_more_button svg polygon 
{
  fill: var(--colorForeground);
}





#authors 
{
  display: grid;
  grid-template-columns: 25% 75%;
}

#authors p, 
#authors a 
{
  font-size: 0.8em;
  margin: 0px 0px 5px 0px;
}

#authors a { font-weight: 600; }





#keywords p, 
#acknowledgments p 
{
  font-size: 0.8em;
  margin: 0px 0px 0px 0px;
}





figure 
{
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  background-color: var(--colorBackground);

  text-align: center;
}

figcaption 
{
  font-size: 0.8em;
  color: var(--colorForeground);
}

figure img { width: 100%; }

.screenshots { width: 50%; }





#references ol li 
{
  font-size: 0.8em;
  margin: 0px 0px 5px 15px;
  text-indent: -15px;
  list-style-type: none;
}

#references a 
{
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--colorForegroundMiddle);
}





/* https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
/* Smartphones - portrait */
@media (min-width: 320px) and (max-width: 480px) 
{
  header  { padding: 10px 13% 5px 13%; }
  section { padding: 10px 13% 10px 13%; }

  h1 { font-size: 1.4em; }

  h2 { font-size: 0.9em; }

  #read_more_button 
  {
    right:  4.5%;
    bottom: 3.5%;
  }

  #authors 
  {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  #keywords p, 
  #acknowledgments p 
  {
    font-size: 0.7em;
  }
  
  .screenshots { width: 100%; }
}

/*  Smartphones - landscape  */
@media (min-width: 481px) and (max-width: 767px) 
{
  header  { padding: 10px 25% 5px 25%; }
  section { padding: 10px 25% 10px 25%; }

  h1 { font-size: 1.4em; }

  h2 { font-size: 0.88em; }

  #read_more_button 
  {
    right:  10%;
    bottom: 8%;
  }

  #authors 
  {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .screenshots { width: 100%; }
}





/* Tablets - portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) 
{
  header  { padding: 30px 18% 5px 18%; }
  section { padding: 10px 18% 10px 18%; }

  h1 { font-size: 2em; }

  h2 { font-size: 1.1em; }

  #read_more_button 
  {
    right:  8.5%;
    bottom: 2.35%;
  }
  
  .screenshots { width: 75%; }
}

/* Tablets - landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 
{
  header  { padding: 10px 27% 5px 27%; }
  section { padding: 10px 27% 10px 27%; }

  h1 { font-size: 2em; }

  h2 { font-size: 1.09em; }

  #read_more_button 
  {
    right:  5%;
    bottom: 4.2%;
  }

  #authors 
  {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  
  .screenshots { width: 75%; }
}

