

@charset "UTF-8";

@font-face 
{
  font-family: "IBM Plex Mono";
  font-style:  normal;
  font-weight: 400;
  src: url("fonts/IBMPlexMono-Regular.woff2") format("woff2"),
       url("fonts/IBMPlexMono-Regular.woff") format("woff");
}





#explainable_visualization 
{
  background-color: var(--colorBackground);
  padding: 10px 37% 0px 37%;

  display: grid;
  grid-template-rows: 5% 75% 20%;
  justify-items: center;
}

#legend_container
{
  width: 100%;
  background-color: var(--colorBackground);

  display: grid;
  place-items: center end;
}

#legend_container img 
{
  background-color: var(--colorBackground);
  height: 60%;
}





#p5_loading 
{
  background-color: var(--colorBackground);
  width: 100vw;
  text-align: center;
}

#p5_container 
{
  background-color: var(--colorBackground);
  width: 100%;
  display: grid;
  place-items: center center;
}





#nav_container 
{
  background-color: var(--colorBackground);
  width: 100%;
  display: grid;
  place-items: center center;
}

nav 
{
  background-color: var(--colorBackground);
  width: 100%;
  height: 80%;
}

#p5_interchangeable_tooltip_2_button_container 
{
  background-color: var(--colorBackground);
  float: left;

  width: 100%;
  height: 50px;

  margin: 0px 0px 10px 0px;
}

#p5_interchangeableTooltip2Button
{
  width: 100%;
  height: 100%;

  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8em;
  color: var(--colorForeground);
  text-align: center;

  display: grid;
  place-items: center center;

  padding: 3px;

  background-color: var(--colorBackground);
}

#p5_interchangeable_tooltip_2_button_container p 
{
  background-color: var(--colorBackground);
  border: 1px solid var(--colorForegroundMiddle);
}

#p5_interchangeable_tooltip_2_button_container button 
{
  background-color: var(--colorBackground);
  border: 1px solid var(--colorForeground);
  cursor: pointer;
}

button:focus { outline: none; }

#reload_system_button 
{
  width: 10%;
  height: 30px;
  float: left;

  display: grid;
  place-items: center start;

  background-color: var(--colorBackground);
  border: none;
  cursor: pointer;
}

#reload_system_button svg
{
  width:  20px;
  height: 20px;
  fill: none;
}

#reload_system_button svg path 
{
  stroke: var(--colorForeground);
  stroke-width: 0.8px;
  stroke-linecap: butt;
}





/* Smartphones - portrait */
@media (min-width: 320px) and (max-width: 480px) 
{
  #explainable_visualization 
  {
    padding: 0px 15% 0px 15%;
    display: grid;
    grid-template-rows: 5% 70% 25%;
  }
}

/*  Smartphones - landscape  */
@media (min-width: 481px) and (max-width: 767px) 
{
  #explainable_visualization 
  {
    padding: 0px 25% 0px 25%;
    display: grid;
    grid-template-rows: 8% 55% 37%;
  }
}





/* Tablets - portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) 
{
  #explainable_visualization 
  {
    padding: 10px 20% 0px 20%;
    display: grid;
    grid-template-rows: 5% 80% 15%;
  }
}

/* Tablets - landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 
{
  #explainable_visualization 
  {
    padding: 0px 33% 0px 33%;
    display: grid;
    grid-template-rows: 5% 73% 22%;
  }
}

