

@charset "UTF-8";


@font-face 
{
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



:root 
{
  /* see colors.js */
  --color_neg_2: rgb(0, 0, 0);
  --color_neg_1: rgb(0, 0, 0);
  --color_zero:  rgb(0, 0, 0);
  --color_pos_1: rgb(0, 0, 0);  
  --color_pos_2: rgb(0, 0, 0);  
}



* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}



body 
{  
  background-color: var(--color_neg_2);

  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color_pos_2);
}



main 
{
  margin: 0px 38% 0px 38%;
  width:  24%;
  height: 100%;

  display: grid;
  grid-template-rows: 5% 63% 2.5% 5% 5% 2.5% 5% 2.5% 5% 4.5%;
  place-items: center center;
}



#p5_canvas_container 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: start center;
}



#p5_loading 
{
  width: 100vw;
  text-align: center;
}



nav 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}



#tooltip_or_button_container 
{
  border-width: 1px;
  border-style: solid;
  border-color: var(--color_zero);
  
  cursor: pointer;
}



footer 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}



h1 
{
  color: var(--color_zero);
  font-size: 0.6em;
}



span
{
  text-transform: lowercase;
}



@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) 
{
  main 
  {
    margin: 0px 15% 0px 15%;
    width:  70%;
  }
}
