

@charset "UTF-8";


:root 
{
  --color_level_1: rgb(40, 40, 40);
  --color_level_2: rgb(120, 120, 120);
  --color_level_3: rgb(150, 150, 150);
  --color_level_4: rgb(250, 250, 250);

  --color_highlight_neg: rgb(255, 0, 0);
  --color_highlight_pos: rgb(0, 255, 0);
}


* {
  margin: 0px;
  padding: 0px;

  /* user-select: none; */
  
  box-sizing: border-box;

  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}


body 
{
  background-color: var(--color_level_4);
}


main 
{
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


main > * 
{
  display: grid;
  place-items: center center;
}


nav 
{
  width: 5vw;
  height: 100%;
}


ul { list-style-type: none; }
li { margin: 10px 0px; }


button 
{
  width:  3vw;
  height: 3vw;
}


article 
{
  width: 25vw;
  height: 100%;

  scroll-snap-type: y mandatory;
  overflow-y: hidden;
}


article section 
{
  width:  100%;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: grid;
  place-items: center center;
}


#decision_vis_container 
{
  width: 50vw;
  height: 100%;

  position: relative;
}


#result_container
{
  width:  20vw;
  height: 20vw;

  background-color: var(--color_level_4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}


#result_vis_container 
{
  width:  20vw;
  height: 20vw;

  position: relative;
}


#input_random_data
{
  width: 20vw;
  height: 20px;
  margin-top: 20px;
}


#history_container 
{
  width: 20vw;
  flex-grow: 1;
}


#history_vis_container 
{
  width:  100%;
  height: 100%;

  position: relative;
}


figcaption 
{
  position: absolute;
  top:  0px;
  left: 0px;
}