

:root 
{
  --colorLayer1: rgb(0, 0, 0);
  --colorLayer2: rgb(70, 70, 70);
  --colorLayer3: rgb(210, 210, 210);
  --colorLayer4: rgb(250, 250, 250);
}


@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


* {
  margin: 0;
  padding: 0;

  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}


body 
{
  background-color: var(--colorLayer1);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px; /*ver outra unidade*/
  color: var(--colorLayer3);
}

/*
#p5_loading 
{
  width: 100vw;
  text-align: center;
}

#p5_container 
{
  background-position: center top;
  background-repeat: repeat-y;
}


header, 
section, 
footer, 
footer nav a, 
#p5_container 
{
  display: grid;
  place-items: center center;
}

footer nav a 
{
  color: var(--colorLayer4);
  text-decoration: none;
}
footer nav a:hover { color: var(--colorLayer4); }
*/

/*
Device: Laptops, Desktops
Screen: 1025px to higher
*/
@media (min-width: 1025px) 
{
  body 
  {
    display: grid;
    /* grid-template-rows: 13vh 74vh 13vh; */
    grid-template-rows: 20% 60% 20%;
  }
  /*
  #p5_container 
  {
    width:  35vw;
    height: 74vh;
  }

  footer nav 
  {
    width: 35vw;
    display: grid;
    grid-template-columns: 5vw 30vw;
  }
  */
}


/*
Device: Phones, Tablets (landscape)
Screen: 481px to 1024px

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  body 
  {
    display: grid;
    grid-template-rows: 5vh 74vh 5vh;
  }

  #p5_container 
  {
    width:  35vw;
    height: 74vh;
  }

  footer nav 
  {
    width: 35vw;
    display: grid;
    grid-template-columns: 5vw 30vw;
  }
}
*/

/*
Device: Phones, Tablets (portrait)
Screen: 320px to 1024px

@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait)
{
  body 
  {
    display: grid;
    grid-template-rows: 3vh 86vh 3vh;
  }

  #p5_container 
  {
    width:  70vw;
    height: 70vh;
  }

  footer nav 
  {
    width: 70vw;
    display: grid;
    grid-template-columns: 10vw 60vw;
  }
}



input[type=range]
  {
    visibility: hidden;
    */
    /*
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    
  }*/
/*

input[type=range]:focus
{
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track 
{
  background: var(--colorLayer2);
}

input[type=range]::-webkit-slider-runnable-track 
{
  height: 1px;
  background: var(--colorLayer2);
}

input[type=range]::-moz-range-track 
{
  height: 1px;
  background: var(--colorLayer2);
}

input[type=range]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  border-style: none;
  background: var(--colorLayer3);

  margin-top: -10px;
  height: 20px;
  width: 3px;

  cursor: pointer;
}

input[type=range]::-moz-range-thumb 
{
  border-style: none;
  background: var(--colorLayer3);
  
  height: 20px;
  width: 3px;

  cursor: pointer;
}
*/