

/* http://danielstern.ca/range.css/ */


:root 
{
  --input_range_weight_bias_width: 100%;

  --input_range_weight_bias_thumb_color: var(--color_zero);
  --input_range_weight_bias_thumb_width:  40px;
  --input_range_weight_bias_thumb_height: 20px;
  --input_range_weight_bias_thumb_corners_radius: 20px;
  --input_range_weight_bias_thumb_stroke_weight: 1px;
  --input_range_weight_bias_thumb_stroke_style: solid;
  --input_range_weight_bias_thumb_stroke_color: var(--input_range_weight_bias_thumb_color);
  --input_range_weight_bias_thumb_background_color: var(--input_range_weight_bias_thumb_color);
  --input_range_weight_bias_thumb_cursor: pointer;

  --input_range_weight_bias_track_width:   100%;
  --input_range_weight_bias_track_height:  1px;
  --input_range_weight_bias_track_corners_radius: 1px;
  --input_range_weight_bias_track_stroke_weight: 0px;
  --input_range_weight_bias_track_stroke_style: solid;
  --input_range_weight_bias_track_stroke_color: var(--color_zero);
  --input_range_weight_bias_track_background_color: var(--color_zero);
  --input_range_weight_bias_track_cursor: pointer;
}



#input_range_weight_bias 
{
  width: var(--input_range_weight_bias_width);
}


input#input_range_weight_bias[type=range] 
{
  -webkit-appearance: none;
  background-color: transparent;
}


input#input_range_weight_bias[type=range]:focus 
{
  outline: none;
}


input#input_range_weight_bias[type=range]::-webkit-slider-runnable-track 
{
  width:  var(--input_range_weight_bias_track_width);
  height: var(--input_range_weight_bias_track_height);
  
  border-radius: var(--input_range_weight_bias_track_corners_radius);
  border-width:  var(--input_range_weight_bias_track_stroke_weight);
  border-style:  var(--input_range_weight_bias_track_stroke_style);
  border-color:  var(--input_range_weight_bias_track_stroke_color);

  background-color: var(--input_range_weight_bias_track_background_color);

  cursor: var(--input_range_weight_bias_track_cursor);
}


input#input_range_weight_bias[type=range]::-webkit-slider-thumb 
{
  -webkit-appearance: none;

  width:  var(--input_range_weight_bias_thumb_width);
  height: var(--input_range_weight_bias_thumb_height);

  margin-top: calc( (var(--input_range_weight_bias_thumb_height)/2)*-1 );

  border-radius: var(--input_range_weight_bias_thumb_corners_radius);
  border-width:  var(--input_range_weight_bias_thumb_stroke_weight);
  border-style:  var(--input_range_weight_bias_thumb_stroke_style);
  border-color:  var(--input_range_weight_bias_thumb_stroke_color);

  background-color: var(--input_range_weight_bias_thumb_background_color);

  cursor: var(--input_range_weight_bias_thumb_cursor);
}


input#input_range_weight_bias[type=range]:focus::-webkit-slider-runnable-track 
{
  background-color: var(--input_range_weight_bias_track_background_color);
}


input#input_range_weight_bias[type=range]::-moz-range-track 
{
  width:  var(--input_range_weight_bias_track_width);
  height: var(--input_range_weight_bias_track_height);
  
  border-radius: var(--input_range_weight_bias_track_corners_radius);
  border-width:  var(--input_range_weight_bias_track_stroke_weight);
  border-style:  var(--input_range_weight_bias_track_stroke_style);
  border-color:  var(--input_range_weight_bias_track_stroke_color);

  background-color: var(--input_range_weight_bias_track_background_color);

  cursor: var(--input_range_weight_bias_track_cursor);
}


input#input_range_weight_bias[type=range]::-moz-range-thumb 
{
  width:  var(--input_range_weight_bias_thumb_width);
  height: var(--input_range_weight_bias_thumb_height);

  border-radius: var(--input_range_weight_bias_thumb_corners_radius);
  border-width:  var(--input_range_weight_bias_thumb_stroke_weight);
  border-style:  var(--input_range_weight_bias_thumb_stroke_style);
  border-color:  var(--input_range_weight_bias_thumb_stroke_color);

  background-color: var(--input_range_weight_bias_thumb_background_color);

  cursor: var(--input_range_weight_bias_thumb_cursor);
}


input#input_range_weight_bias[type=range]::-ms-track 
{
  width:  var(--input_range_weight_bias_track_width);
  height: var(--input_range_weight_bias_track_height);

  border-width: var(--input_range_weight_bias_track_stroke_weight);
  border-color: transparent;
  color: transparent;

  background-color: transparent;
  
  cursor: var(--input_range_weight_bias_track_cursor);
}


input#input_range_weight_bias[type=range]::-ms-fill-lower 
{
  border-radius: var(--input_range_weight_bias_track_corners_radius);
  border: var(--input_range_weight_bias_track_stroke_weight);
  background-color: var(--input_range_weight_bias_track_background_color);
}


input#input_range_weight_bias[type=range]::-ms-fill-upper 
{
  border-radius: var(--input_range_weight_bias_track_corners_radius);
  border: var(--input_range_weight_bias_track_stroke_weight);
  background-color: var(--input_range_weight_bias_track_background_color);
}


input#input_range_weight_bias[type=range]::-ms-thumb 
{
  width:  var(--input_range_weight_bias_thumb_width);
  height: var(--input_range_weight_bias_thumb_height);

  margin-top: 0px; /*Needed to keep the Edge thumb centred*/

  border-radius: var(--input_range_weight_bias_thumb_corners_radius);
  border-width:  var(--input_range_weight_bias_thumb_stroke_weight);
  border-style:  var(--input_range_weight_bias_thumb_stroke_style);
  border-color:  var(--input_range_weight_bias_thumb_stroke_color);

  background-color: var(--input_range_weight_bias_thumb_background_color);

  cursor: var(--input_range_weight_bias_thumb_cursor);
}


input#input_range_weight_bias[type=range]:focus::-ms-fill-lower 
{
  background-color: var(--input_range_weight_bias_thumb_background_color);
}


input#input_range_weight_bias[type=range]:focus::-ms-fill-upper 
{
  background-color: var(--input_range_weight_bias_thumb_background_color);
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) 
{
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input#input_range_weight_bias[type=range] 
  {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
