

@charset "UTF-8";



/* Article & All Scenes */

article 
{
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

article>section 
{
  width:  100%;
  height: 100vh;

  position: relative;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

article>section>div>h2 { margin-bottom: 0.1em; }

article>section>footer 
{
    width: 20%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 2;
    color: rgb(var(--color_level_2));
}
article>section>footer>ol 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 0.5em;
    line-height: 1.5em;
    z-index: 2;
}
article>section>footer p 
{
    font-weight: 100;
    font-size: 0.5em;
    line-height: 1.5em;
}

article { --sb-size: 10px; }
article::-webkit-scrollbar { width: var(--sb-size) }
article::-webkit-scrollbar-track 
{
    background-color: rgb(var(--color_level_2));
    border-radius: 1px;
}
article::-webkit-scrollbar-thumb 
{
    background-color: rgb(var(--color_level_4));
    border-radius: 1px;
}
@supports not selector(::-webkit-scrollbar) 
{
  article 
  {
    scrollbar-color: rgb(var(--color_level_4))
                     rgb(var(--color_level_2));
  }
}

button 
{
    position: absolute;
    left: 25.5%;
    top:  0px;

    width: 74.5%;
    height: 100%;

    border: 0px;
    background-color: rgba(var(--color_level_1), 0.8);
    color: rgb(var(--color_level_4));

    font-size: 0.8em;
    line-height: 2em;

    cursor: pointer;

    visibility: hidden;
}

button span 
{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 0em;
}





/* Scene 1 */

#scene_1 
{
    /*
    background-image: url("images/McCulloch_et_al_1943_adapted.png");
    background-position-x:center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    */

    background-image: url("images/Rosenblatt_1958_adapted.png");
    background-position-x:80%;
    background-position-y:70%;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

#scene_1>#txt_scene_1 
{
    width: 95%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_1>#txt_scene_1>header>h1 
{
    /*
    color: rgb(var(--color_level_4));
    background-color: rgba(var(--color_level_1), 0.7);
    */
    margin-bottom: 0.3em;
}

#scene_1>#txt_scene_1>header>h2 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 0.9em;

    margin-bottom: 1em;
    /*
    color: rgb(var(--color_level_4));
    background-color: rgba(var(--color_level_1), 0.7);
    */
}

#scene_1>#txt_scene_1>header>h3 
{
    font-weight: 200;
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: 0.0em;
    color: rgb(var(--color_level_2));

    line-height: 1.5em;
    margin-bottom: 1em;
    /*
    background-color: rgba(var(--color_level_1), 0.7);
    */
}

#scene_1>#txt_scene_1>p 
{
    width: 26.5%;
    /*
    color: rgb(var(--color_level_4));
    background-color: rgba(var(--color_level_1), 0.7);
    */
}

#scene_1>footer { width: 25%; }
#scene_1>footer>p>sup 
{
    font-size: 0.8em;
    /*background-color: rgba(var(--color_level_1), 0.7);*/
}
/*
#scene_1>footer>ol>li { background-color: rgba(var(--color_level_1), 0.7); }
*/





/* Scene 2 */

#scene_2>#txt_scene_2 
{
    width: 25%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_2>footer { width: 25%; }

#scene_2>#vis_index 
{
    position: absolute;
    left: 25%;
    top:  0px;

    width: 75%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 9.5%;
}

#scene_2>#vis_index>figcaption>h2 { color: rgb(var(--color_level_4)); }

#scene_2>#vis_index>ol 
{
    list-style-position: inside;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1.0em;
    line-height: 1.6em;
    text-align: center;
    color: rgb(var(--color_level_4));

    margin-top: 15px;
}

#scene_2>#vis_index>ol>li>.index_arrow { color: rgb(var(--color_level_2)); }





/* Scene 3 */

#scene_3>#txt_scene_3 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_3>#data_element_switch_0,  
#scene_3>#data_element_switch_1,  
#scene_3>#data_element_switch_2 
{
    position: absolute;
    /* left: ?; defined in JS */
    /* top:  ?; defined in JS */

    padding-right: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#scene_3>#data_element_switch_0 label,  
#scene_3>#data_element_switch_1 label,  
#scene_3>#data_element_switch_2 label 
{
    font-size: 0.8em;
}

#scene_3 #data_element_radio_left_0, 
#scene_3 #data_element_radio_left_1, 
#scene_3 #data_element_radio_left_2 
{
    margin-left: 5px;
    margin-right: 10px;
}

#scene_3 #data_element_radio_right_0, 
#scene_3 #data_element_radio_right_1, 
#scene_3 #data_element_radio_right_2 
{
    margin-right: 5px;
}

#scene_3 label:hover, 
#scene_3 input:hover 
{
    cursor: pointer;
}

#scene_3>#call_for_action_scene_3-1 
{
    position: absolute;
    left: 25%;
    top: 20%;

    width: 75%;

    font-weight: 200;
    font-size: 1.2em;

    text-align: center;
    color: rgb(var(--color_level_4));
}

#scene_3>#call_for_action_scene_3-2 
{
    position: absolute;
    left: 0px;
    /* top: ??; */ /* defined in scene_3.js */

    padding-left: 25%;
    width: 100%;

    text-align: center;
    color: rgb(var(--color_level_4));

    visibility: hidden;
}





/* Scene 4 */

#scene_4>#txt_scene_4 
{
    width: 20%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 5 */

#scene_5>#txt_scene_5 
{
    width: 20%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 6 */

#scene_6>#txt_scene_6 
{
    width: 20%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* Scene 7 */

#scene_7>#txt_scene_7 
{
    position: absolute;
    left: 5%;
    top:  0px;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_7>#history_vis_container 
{
  position: absolute;
  left: 38%;
  /* top: ??; */ /* defined in sketch.js, line 165 */

  width: 50%;
}

#scene_7>#history_vis_container>figcaption 
{
    width: 100%;
    text-align: center;

    margin-bottom: 5px;
}

#scene_7>#history_vis_container>ol 
{
    width: 100%;
    padding-bottom: 5px;
    text-align: center;

    overflow-x: auto;
    overflow-y: hidden;
}

#scene_7>#history_vis_container li 
{
    padding-right: 10px;
    padding-bottom: 10px;

    display: inline;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1.1em;
    color: rgb(var(--color_level_3));
}

#scene_7 #history_vis_container ol { --sb-size: 10px; } 
#scene_7 #history_vis_container ol::-webkit-scrollbar { height: var(--sb-size) }
#scene_7 #history_vis_container ol::-webkit-scrollbar-track 
{
    background-color: rgb(var(--color_level_2));
    border-radius: 1px;
}
#scene_7 #history_vis_container ol::-webkit-scrollbar-thumb 
{
    background-color: rgb(var(--color_level_4));
    border-radius: 1px;
}
@supports not selector(::-webkit-scrollbar) 
{
  #scene_7 #history_vis_container ol 
  {
    scrollbar-color: rgb(var(--color_level_4))
                     rgb(var(--color_level_2));
  }
}





/* Scene 8 */

#scene_8>#txt_scene_8 
{
    width: 50%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#scene_8>#txt_scene_8>header>h1 
{
    color: rgb(var(--color_level_4));
    font-size: 2.3em;
    margin-bottom: 0.15em;
}

#scene_8>#txt_scene_8>header>h2 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 0.9em;
    line-height: 1.4em;
    color: rgb(var(--color_level_4));

    margin-bottom: 0.5em;
}

#scene_8>#txt_scene_8>header>h3 
{
    font-weight: 200;
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: 0.0em;
    color: rgb(var(--color_level_3));

    line-height: 1.5em;
    margin-bottom: 2em;
}

#scene_8>#txt_scene_8>figure 
{
    width: 100%;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 0.9em;
    color: rgb(var(--color_level_2));

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

#scene_8>#txt_scene_8>figure>figcaption 
{
    width: 100%;
    margin-bottom: 0.5em;
}

#scene_8>#txt_scene_8>figure>div 
{
    width: 30%;
    padding-top: 0.1em;
    padding-bottom: 0.3em;
}
#scene_8>#txt_scene_8>figure>#support_spacer 
{
    flex-grow: 1;
}
#scene_8>#txt_scene_8>figure #logo_FCT { height: 65px; }
#scene_8>#txt_scene_8>figure #logo_LINCS 
{
    height: 45px;
    margin-top: 16px;
}

#scene_8>#txt_scene_8>figure>p 
{
    width: 30%;
    text-indent: 0px;
    font-size: 0.65em;
}