

@charset "UTF-8";



/* All Scenes */

section>h2 
{
    text-align: right;
}





/* Scene 1 */

#scene_1>div 
{
    position: absolute;
    /* top:  ?; defined in JS */
    /* left: ?; defined in JS */

    padding-right: 4%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#scene_1>div>label+input 
{
    margin-right: 10px;
}

#data_element_radio_left_0, 
#data_element_radio_left_1, 
#data_element_radio_left_2 
{
    margin-left: 5px;
}

#data_element_radio_right_0, 
#data_element_radio_right_1, 
#data_element_radio_right_2 
{
    margin-right: 5px;
}

#scene_1 label:hover, 
#scene_1 input:hover 
{
    cursor: pointer;
}





/* Scene ? */
