
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,500');

* {
  margin: 0px;
  padding: 0px;
}

body 
{
  background-color: rgb(10, 10, 10);
}

#placeHolder 
{
  border: 1px dashed rgb(255, 255, 255);
}

#placeHolder p 
{
  color: rgb(255, 255, 255);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 17px;
  font-weight: 300;

  line-height: 25px;
}