

@charset "UTF-8";


@font-face 
{
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root 
{
  --colorBackground:       rgb(0, 0, 0);
  --colorBackgroundMiddle: rgb(30, 30, 30);
  --colorMiddle:           rgb(70, 70, 70);
  --colorForegroundMiddle: rgb(110, 110, 110);
  --colorForeground:       rgb(250, 250, 250);
}





* {
  margin:  0;
  padding: 0;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--colorBackground);

  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: var(--colorForegroundMiddle);

  display: grid;
  grid-template-rows: 15% 70% 15%;
}


#p5_loading 
{
  width: 100vw;
  text-align: center;
}


header 
{
  display: grid;
  grid-template-rows: 30% 40% 30%;
  justify-items: center;
}


header div 
{
  width: 27%;
}


main, 
footer, 
#titleContainer, 
#p5_container 
{
  display: grid;
  place-items: center center;
}


#titleContainer h1 
{
  font-size: 0.8em;
  text-transform: uppercase;
}


#legendContainer 
{
  display: grid;
  place-items: start end;
}


#legendContainer div 
{
  display: grid;
  justify-items: end;

  font-size: 0.7em;
}


#p5_container 
{
  width:  27%;
  height: 100%;
}


footer nav 
{
  width:  27%;
  height: 50%;
}


footer nav button 
{
  background-color: var(--colorBackground);
  border: none;
  cursor: pointer;

  float: left;
  height: 30px;
}


footer nav button:focus 
{
  outline: none;
}


#runPtronButton 
{
  width: 100%;

  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8em;
  color: var(--colorForeground);
  text-transform: uppercase;
}


#reloadSystemButton
{
  width: 10%;

  display: grid;
  place-items: center start;
}


svg
{
  width:  20px;
  height: 20px;
  fill: none;
}


svg path 
{
  stroke: var(--colorForeground);
  stroke-width: 0.8px;
  stroke-linecap: butt;
}





@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) 
{
  header div { width: 70%; }

  #p5_container { width: 70%; }

  footer nav { width: 70%; }
}


@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  header div { width: 30%; }

  #p5_container { width: 30%; }

  footer nav { width: 30%; }
}
