/* Projects tumbnail */
#metamorphictype article div { background-image: url("projects/metamorphictype/images/metamorphictype.gif"); }
#solarsystem article div { background-image: url("projects/solarsystem/images/solarsystem.gif"); }
#datascalaria article div { background-image: url("projects/datascalaria/images/datascalaria.gif"); }
#elements article div { background-image: url("projects/elements/images/elements.jpg"); }
#commuting_1979-2010 article div { background-image: url("projects/commuting_1979-2010/images/commuting_1979-2010.jpg"); }


/* General */
article div {
  position: relative;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

article div h2 {
  position: absolute;
  top: 10px;
  left: 10px;

  color: rgb(255, 255, 255);

  background-color: rgba(51, 51, 51, 0.9);
  padding: 0px 3px 3px 3px;
  margin: 0px;

  text-decoration: underline;
  text-underline-position: under;
}
/*
.col_2 div { padding-top: 75%; 4:3 Aspect Ratio }
.col_4 div { padding-top: 56.25%; 16:9 Aspect Ratio }
*/
.projectMetaData {
  display: block;
  font-size: 13px;
}


/* default, Mobile first, Small devices (phones, 600px and up) */


/* Medium devices (tablets and non-retina computers, 768px and up) */
@media only screen and (min-width: 768px)
{
  article div h2 { visibility: hidden; }
  a:hover article div h2 { visibility: visible; }
}


/* Large devices (retina computers, 1200px and up) */
@media only screen and (min-width: 1200px)
{
}
