
/* General */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,500');


body {

  color: rgb(51, 51, 51);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 17px;
  font-weight: 300;

  line-height: 25px;
}


p, h2 { margin: 0px 0px 13px 0px; }
a { color: rgb(51, 51, 51); }


header, section {
  border-left:   0px;
  border-right:  0px;
  border-top:    0px;
  border-bottom: 1px;

  border-style: solid;
  border-color: rgb(245, 245, 245);
}


.addFixedHeader { background-color: rgba(250, 250, 250, 0.9); }
header embed {width: 100%; }


h1 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
}


.profession h2 {
  display: block;
  
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 48px;

  margin: 0px;
}


article nav a { display: block; }


footer {
  border-left:   0px;
  border-right:  0px;
  border-top:    1px;
  border-bottom: 0px;

  border-style: solid;
  border-color: rgb(250, 250, 250);

  background-color: rgb(250, 250, 250);
  
  font-size: 13px;
  text-align: right;
}


/* default, Mobile first, Small devices (phones, 600px and up) */
header  { padding: 2% 2% 2% 2%; }
section { padding: 2% 2% 2% 2%; }
main    { padding: 2% 2% 2% 2%; }
article { padding: 2% 2% 2% 2%; }
footer  { padding: 2% 2% 2% 2%; }

header embed { height: 110px; }

a:link {
  text-decoration: underline;
  text-underline-position: under;
}


/* Medium devices (tablets and non-retina computers, 768px and up) */
@media only screen and (min-width: 768px)
{
  header  { padding: 1% 2% 0px 2%; }
  section { padding: 1% 2% 1% 2%; }
  main    { padding: 2% 2% 2% 2%; }
  article { padding: 1% 2% 1% 2%; }
  footer  { padding: 2% 2% 2% 2%; }

  header embed { height: 75px; }

  a:link{ text-decoration: none; }
  a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}


/* Large devices (retina computers, 1200px and up) */
@media only screen and (min-width: 1200px)
{
}
