
/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.normalPaddings {
  margin: 0px;
  padding: 2%;
}


.anchor { height: 100vh; }


.anchor, header, section, main, footer {
  float: left;
  width: 100%;
}

.anchor, header, section, main, footer::after {
  content: "";
  clear: both;
  display: table;
}

.addFixedHeader {
  position: fixed;
  top: 0;
  z-index: 1;
}


/* default, Mobile first, Small devices (phones, 600px and up) */
@media only screen and (max-width: 600px)
{
  [class*="col_"] {
    float: left;
    width: 100%;
  }
}


/* Medium devices (tablets and non-retina computers, 768px and up) */
@media only screen and (min-width: 768px)
{
  .col_1 { width: 25%; }
  .col_2 { width: 50%; }
  .col_3 { width: 75%; }
  .col_4 { width: 100%; }
  [class*="col_"] { float: left;}
}


/* Large devices (retina computers, 1200px and up) */
@media only screen and (min-width: 1200px)
{
  /*.anchor { width: 98%; }*/
}
