


@charset "UTF-8";



@font-face 
{
  font-family: "IBMPlexMono";
  src: url("IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



:root 
{
  --color_darker:   rgb(0, 0, 0);
  --color_dark:     rgb(50, 50, 50);
  --color_neutral:  rgb(80, 80, 80);
  --color_bright:   rgb(110, 110, 110);
  --color_brighter: rgb(250, 250, 250);
}



* {
  margin:  0;
  padding: 0;

  -webkit-user-select: none;
  user-select: none;
  
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}



body 
{
  width:  100vw;
  height: 100vh;

  background-color: var(--color_dark);

  font-family: "IBMPlexMono", monospace;
  font-size: 16px;
  color: var(--color_neutral);
}



nav 
{
  display: grid;
  place-items: center center;
}



#vis_section 
{
  display: grid;
  place-items: center center;
}



#txt_sections_container 
{
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; Done in index.js*/ 
}



section section 
{
  scroll-snap-align: start;
  scroll-snap-stop: always;

  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}



#left_scroll_btn 
{
  position: fixed;

  left: 0px;
  top: 0px;

  width:  5%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);
  /* display: none; Hidden and Displayed initially in index.js, then in interface.js */
}



#right_scroll_btn 
{
  position: fixed;

  right: 0px;
  top: 0px;

  width:  5%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);
  /* display: none; Hidden and Displayed initially in index.js, then in interface.js */
}


