


@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face 
{
  font-family: "Grafier";
  src: url("fonts/PPGrafier/PPGrafier-RegularDisplay.otf") format("otf");
}



:root 
{
  /* https://gist.github.com/lithammer/e9e68c131297c3158a654c0fdfc4111a */
   
  --color_level_1: 28, 28, 30;
  --color_level_2: 72, 72, 74;
  --color_level_3: 174, 174, 178;
  --color_level_4: 229, 229, 234;

  --color_empha_n: 255, 69, 58;
  --color_empha_p: 48, 209, 88;
  --color_empha_t: 255, 214, 10;
}


* {
  margin: 0px;
  padding: 0px;

  user-select: none;
  
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: rgb(var(--color_level_1));
  color: rgb(var(--color_level_4));

  line-height: 1.3em;
}


p, th 
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 0.8em;

  margin-left: 1px;
}


h1 
{
  font-family: "Grafier", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;

  line-height: 1em;

  margin-bottom: 0.3em;
}


h2 
{
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* font-style: italic; */
  font-size: 2.2em;

  line-height: 0.9em;

  margin-bottom: 0.2em;
}


h3, label, button 
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 0.6em;

  text-transform: uppercase;
  letter-spacing: 0.05em;
}


main 
{
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#spacer 
{
  width: 25vw;
  height: 100vh;
}


#decision_vis_container 
{
  width: 75vw;
  height: 100vh;

  display: grid;
  place-items: center center;
}


#vis_label_colors 
{
  position: fixed;
  right: 40px;
  top: 4%;
  z-index: 1;

  visibility: hidden;
}
#vis_label_colors caption { text-align: center; }
#vis_label_colors th { text-align: right; }
#vis_label_colors td 
{
  font-weight: bold;
  padding-left: 5px;
}
#ptron_guess_n { color: rgb(var(--color_empha_n)); }
#ptron_guess_p { color: rgb(var(--color_empha_p)); }
#ptron_guess_t { color: rgb(var(--color_empha_t)); }


article 
{
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

article section 
{
  width:  100%;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}



article { --sb-size: 10px; }
#scene_5 #history_vis_container { --sb-size: 4px; }

article::-webkit-scrollbar, 
#scene_5 #history_vis_container::-webkit-scrollbar 
{
  width: var(--sb-size)
}

article::-webkit-scrollbar-track, 
#scene_5 #history_vis_container::-webkit-scrollbar-track 
{
  background: rgb(var(--color_level_2));
  border-radius: 1px;
}

article::-webkit-scrollbar-thumb, 
#scene_5 #history_vis_container::-webkit-scrollbar-thumb 
{
  background: rgb(var(--color_level_3));
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) 
{
  article, 
  #scene_5 #history_vis_container 
  {
    scrollbar-color: rgb(var(--color_level_3))
                     rgb(var(--color_level_2));
  }
}