


* {
  margin:  0;
  padding: 0;
  
  box-sizing: border-box;
  
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}



body 
{
  width:  100vw;
  height: 100vh;
}



nav 
{
  background-color: coral;
}



#txt_sections_container 
{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}



header, section section, footer 
{
  scroll-snap-align: start;
  scroll-snap-stop: always;

  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}



#vis_section 
{
  display: grid;
  place-items: center center;
}



#story_section_1 { background-color: blue; }
#story_section_2 { background-color: blueviolet; }
#story_section_3 { background-color: brown; }


