

@charset "UTF-8";


@font-face 
{
  font-family: "reloadIconFont";
  src:url("fonts/reloadIconFont.eot");
  src:url("fonts/reloadIconFont.eot?#iefix") format("embedded-opentype"),
      url("fonts/reloadIconFont.woff") format("woff"),
      url("fonts/reloadIconFont.ttf") format("truetype"),
      url("fonts/reloadIconFont.svg#reloadIconFont") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face 
{
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root 
{
  --colorBackground:       rgb(0, 0, 0);
  --colorBackgroundMiddle: rgb(60, 60, 60);
  --colorMiddle:           rgb(160, 160, 160);
  --colorForegroundMiddle: rgb(210, 210, 210);
  --colorForeground:       rgb(250, 250, 250);
}





* {
  margin:  0;
  padding: 0;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--colorBackground);

  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: var(--colorForegroundMiddle);

  display: grid;
  grid-template-rows: 10% 78% 12%;
}


#p5_loading 
{
  width: 100vw;
  text-align: center;
}


header, 
main, 
footer, 
#p5_container 
{
  display: grid;
  place-items: center center;
}


header h1 
{
  font-size: 0.8em;
}


#p5_container 
{
  width:  30%;
  height: 100%;
}


footer nav 
{
  display: grid;
  grid-template-columns: 7% 93%;

  width:  30%;
  height: 50%;
}


footer nav a 
{
  font-family: "reloadIconFont", monospace;
  font-size: 22px;

  display: grid;
  place-items: center start;

  color: var(--colorForeground);
  text-decoration: none;
  cursor: pointer;
}





datalist 
{
  display: inline;
  visibility: hidden;
}


input[type=range]
{
  visibility: hidden;

  -webkit-appearance: none;
  background: transparent;

  margin-bottom: 4px;
}


input[type=range]:focus
{
  outline: none;
}


input[type=range]:focus::-webkit-slider-runnable-track 
{
  height: 1px;
  cursor: pointer;
  background: var(--colorForegroundMiddle);
  margin-bottom: 3px;
}


input[type=range]::-webkit-slider-runnable-track 
{
  height: 1px;
  cursor: pointer;
  background: var(--colorForegroundMiddle);
  margin-bottom: 3px;
}


input[type=range]::-moz-range-track 
{
  height: 1px;
  cursor: pointer;
  background: var(--colorForegroundMiddle);
}


input[type=range]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 0px none var(--colorBackground);

  background: var(--colorForeground);
  border-radius: 25px;

  cursor: pointer;
}


input[type=range]::-moz-range-thumb 
{
  width: 20px;
  height: 20px;
  
  background: var(--colorForeground);
  border-radius: 25px;

  cursor: pointer;
}





@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) 
{
  #p5_container { width: 75%; }

  footer nav 
  {
    width: 75%;
    display: grid;
    grid-template-columns: 12% 88%;
  }

  input[type=range]:focus::-webkit-slider-runnable-track 
  {
    margin-bottom: 0px;
  }

  input[type=range]::-webkit-slider-runnable-track 
  {
    margin-bottom: 0px;
  }
}


@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  #p5_container { width: 35%; }

  footer nav 
  {
    width: 35%;
    display: grid;
    grid-template-columns: 13% 87%;
  }

  input[type=range]:focus::-webkit-slider-runnable-track 
  {
    margin-bottom: 0px;
  }

  input[type=range]::-webkit-slider-runnable-track 
  {
    margin-bottom: 0px;
  }
}

