

@charset "UTF-8";


:root 
{
  --color_level_1: 40, 40, 40;
  --color_level_2: 120, 120, 120;
  --color_level_3: 150, 150, 150;
  --color_level_4: 250, 250, 250;

  --color_empha_n: 255, 0, 0;
  --color_empha_p: 0, 255, 0;
}


* {
  margin: 0px;
  padding: 0px;

  /* user-select: none; */
  
  box-sizing: border-box;

  outline: 1px dashed blueviolet;
  outline-offset: -1px;
}


body 
{
  background-color: rgb(var(--color_level_1));
  color: rgb(var(--color_level_4));
}


main 
{
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#decision_vis_container 
{
  width: 75vw;
  height: 100vh;

  display: grid;
  place-items: center center;
}


#history_vis_container 
{
  width: 25vw;
  height: 100vh;

  position: relative;

  display: grid;
  place-items: end center;
}


figcaption 
{
  width: 100%;
  
  position: absolute;
  top:  0px;
  left: 0px;

  display: grid;
  place-items: center center;
}


article 
{
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

article section 
{
  width:  100%;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  /* background-color: rgba(var(--color_level_4), 0.1); */
}