


@charset "UTF-8";



:root 
{
  --color_darker:   rgb(50, 50, 50);
  --color_dark:     rgb(70, 70, 70);
  --color_neutral:  rgb(110, 110, 110);
  --color_bright:   rgb(150, 150, 150);
  --color_brighter: rgb(250, 250, 250);
}



* {
  margin:  0;
  padding: 0;

  -webkit-user-select: none;
  user-select: none;
  
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}



body 
{
  width:  100vw;
  height: 100vh;

  background-color: var(--color_brighter);
}



#vis_section 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}


