

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


html, body 
{
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  color: rgb(150, 150, 150);
}


#p5_loading 
{
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}


canvas {
  margin: 0;
  padding: 0;
  display: block; 
}
