

@charset "UTF-8";


:root 
{
  --color_level_1: 40, 40, 40;
  --color_level_2: 120, 120, 120;
  --color_level_3: 150, 150, 150;
  --color_level_4: 250, 250, 250;

  --color_empha_n: 255, 0, 0;
  --color_empha_p: 0, 255, 0;
  --color_empha_t: 255, 255, 0;
}


* {
  margin: 0px;
  padding: 0px;

  user-select: none;
  
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: rgb(var(--color_level_1));
  color: rgb(var(--color_level_4));
}


main 
{
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#spacer 
{
  width: 20vw;
  height: 100vh;
}


#decision_vis_container 
{
  width: 80vw;
  height: 100vh;

  display: grid;
  place-items: center center;
}


#vis_label_colors 
{
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 1;

  visibility: hidden;
}
#vis_label_colors caption { text-align: left; }
#vis_label_colors th { text-align: right; }
#vis_label_colors td 
{
  font-weight: bold;
  padding-left: 5px;
}
#ptron_guess_n { color: rgb(var(--color_empha_n)); }
#ptron_guess_p { color: rgb(var(--color_empha_p)); }
#ptron_guess_t { color: rgb(var(--color_empha_t)); }


article 
{
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

article section 
{
  width:  100%;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  /* background-color: rgba(var(--color_level_4), 0.1); */
}