

@charset "UTF-8";



/* All Scenes */

article section 
{
    position: relative;
}

section>h2 
{
    text-align: center;
}





/* Scene 1 */

#scene_1>div 
{
    position: absolute;
    /* left: ?; defined in JS */
    /* top:  ?; defined in JS */

    padding-right: 4%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#scene_1>div>label+input 
{
    margin-right: 10px;
}

#data_element_radio_left_0, 
#data_element_radio_left_1, 
#data_element_radio_left_2 
{
    margin-left: 5px;
}

#data_element_radio_right_0, 
#data_element_radio_right_1, 
#data_element_radio_right_2 
{
    margin-right: 5px;
}

#scene_1 label:hover, 
#scene_1 input:hover 
{
    cursor: pointer;
}





/* Scene 2 */

#scene_2 div 
{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top:  0px;

    display: grid;
    place-items: center center;

    background-color: rgba(var(--color_level_1), 0.5);

    visibility: hidden;
}

#scene_2 button 
{
    cursor: pointer;
}





/* Scene 3 */

#scene_3 div 
{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top:  0px;

    display: grid;
    place-items: center center;

    background-color: rgba(var(--color_level_1), 0.5);

    visibility: hidden;
}

#scene_3 button 
{
    cursor: pointer;
}





/* Scene 4 */

#scene_4 #history_vis_container 
{
  width: 20vw;
  height: 100vh;

  position: absolute;
  left: 0px;
  top: 0px;
  
  overflow-y: auto;
}


#scene_4 #history_vis_container>figcaption 
{
  display: grid;
  place-items: center center;
}


#scene_4 #history_vis_container div 
{
  display: grid;
  place-items: center center;
}