


@charset "UTF-8";



:root 
{
  --color_level_1: rgb(40, 40, 40);
  --color_level_2: rgb(120, 120, 120);
  --color_level_3: rgb(150, 150, 150);
  --color_level_4: rgb(250, 250, 250);

  --color_highlight_neg: rgb(255, 0, 0);
  --color_highlight_pos: rgb(0, 255, 0);
}



* {
  margin:  0;
  padding: 0;

  -webkit-user-select: none;
  user-select: none;
  
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}



body 
{
  width:  100vw;
  height: 100vh;

  background-color: var(--color_level_1);
}



#vis_section 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}


