

@charset "UTF-8";


@font-face 
{
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root 
{
  --colorBackground:       rgb(0, 0, 0);
  --colorBackgroundMiddle: rgb(60, 60, 60);
  --colorMiddle:           rgb(160, 160, 160);
  --colorForegroundMiddle: rgb(210, 210, 210);
  --colorForeground:       rgb(250, 250, 250);
}





* {
  margin:  0;
  padding: 0;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--colorBackground);

  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: var(--colorForegroundMiddle);

  display: grid;
  grid-template-rows: 10% 78% 12%;
}


#p5_loading 
{
  width: 100vw;
  text-align: center;
}


header, 
main, 
footer, 
#p5_container 
{
  display: grid;
  place-items: center center;
}


header h1 
{
  font-size: 0.8em;
  color: var(--colorMiddle);
}


#p5_container 
{
  width:  30%;
  height: 100%;
}


footer nav 
{
  display: grid;
  grid-template-columns: 7% 93%;

  width:  30%;
  height: 50%;
}


footer nav a 
{
  display: grid;
  place-items: center start;

  color: var(--colorForeground);
  text-decoration: none;
  cursor: pointer;
}





svg
{
  width:  20px;
  height: 20px;
  fill: none;
}


svg path 
{
  stroke: var(--colorForeground);
  stroke-width: 0.8px;
  stroke-linecap: butt;
}





@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) 
{
  #p5_container { width: 75%; }

  footer nav 
  {
    width: 75%;
    display: grid;
    grid-template-columns: 12% 88%;
  }
  
}


@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) 
{
  #p5_container { width: 35%; }

  footer nav 
  {
    width: 35%;
    display: grid;
    grid-template-columns: 13% 87%;
  }
  
}
