

@charset "UTF-8";



/* All Scenes */

article section 
{
    position: relative;
}





/* Scene 1 */

#scene_2>#txt_scene_2 
{
    position: absolute;
    left: 0px;
    top: 45%;

    width: 30vw;

    padding-left: 5%;
}

#scene_2>#txt_scene_2>h2 
{
    color: rgba(var(--color_level_4));
}

#scene_2>#txt_scene_2>p 
{
    color: rgba(var(--color_level_4));
}

#scene_2>#data_element_switch_0,  
#scene_2>#data_element_switch_1,  
#scene_2>#data_element_switch_2 
{
    position: absolute;
    /* left: ?; defined in JS */
    /* top:  ?; defined in JS */

    padding-right: 4%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#scene_2>data_element_switch_0>label+input, 
#scene_2>data_element_switch_1>label+input, 
#scene_2>data_element_switch_2>label+input 
{
    margin-right: 10px;
}

#data_element_radio_left_0, 
#data_element_radio_left_1, 
#data_element_radio_left_2 
{
    margin-left: 5px;
}

#data_element_radio_right_0, 
#data_element_radio_right_1, 
#data_element_radio_right_2 
{
    margin-right: 5px;
}

#scene_2 label:hover, 
#scene_2 input:hover 
{
    cursor: pointer;
}

#scene_2>#call_for_action_scene_2 
{
    position: absolute;
    left: 48vw;
    bottom: 18%;

    color: rgba(var(--color_empha_n));

    visibility: hidden;
}





/* Scene 2 */

#scene_3 div 
{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top:  0px;

    display: grid;
    place-items: center center;

    background-color: rgba(var(--color_level_1), 0.5);

    visibility: hidden;
}

#scene_3 button 
{
    cursor: pointer;
}





/* Scene 3 */

#scene_4 div 
{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top:  0px;

    display: grid;
    place-items: center center;

    background-color: rgba(var(--color_level_1), 0.5);

    visibility: hidden;
}

#scene_4 button 
{
    cursor: pointer;
}





/* Scene 4 */

#scene_5 #history_vis_container 
{
  width: 20vw;
  height: 100vh;

  position: absolute;
  left: 0px;
  top: 0px;
  
  overflow-y: auto;
}


#scene_5 #history_vis_container>figcaption 
{
  display: grid;
  place-items: center center;
}


#scene_5 #history_vis_container div 
{
  display: grid;
  place-items: center center;
}